* {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: #d6eaf8;
  }
  
  .moon,
  .sun {
    width: 200px;
    height: 200px;
    position: absolute;
    right: 50%;
    top: 40%;
    transform: translate(50%, -50%);
    transition: 1s;
    border-radius: 50%;
  }
  .moon {
    background: linear-gradient(
      to bottom left,
      rgb(80 80 80),
      rgb(0 0 0),
      rgb(255 255 255)
    );
    box-shadow: -10px 10px 120px transparent, -10px 10px 120px white;
    animation: moonAni 5s ease-in-out infinite;
  }
  
  .sun {
    background: linear-gradient(
      to bottom left,
      rgb(249 184 0),
      rgb(255 37 37),
      rgb(253 255 0)
    );
    box-shadow: 10px 10px 120px rgb(254 109 24), -10px -10px 120px rgb(251 116 17);
    animation: sunAni 5s ease-in-out infinite;
  }
  
  .moonOpacity {
    opacity: 0;
  }
  
  #show {
    display: block;
    margin: 10% auto 0 auto;
    padding: 10px;
    border-radius: 15px;
    border: none;
    background: #666;
    color: #fff;
  }
  @keyframes sunAni {
    0% {
      transform: translatex(-100%);
    }
  
    50% {
      transform: translatex(200%);
    }
    100% {
      transform: translatex(-100%);
    }
  }
  @keyframes moonAni {
    0% {
      transform: translatex(150%);
    }
  
    50% {
      transform: translatex(-100%);
    }
    100% {
      transform: translatex(150%);
    }
  }
  